.header {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--nav-link-color);
}
.homeLink {
  cursor: default;
  transition: fill 0.3s;
}
.logo {
  width: 60px;
  height: 60px;
  border-bottom: 2px solid transparent;
}

.navList {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin: 0;
}
.navListItem {
  padding: 4px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border 0.3s;
}
.navListItem:hover,
.navListItem:focus,
.navListItem:active {
  border-bottom: 2px solid var(--interactive-color--active);
}
.navListItemLink {
  padding: 8px 4px;
  font-size: 14px;
}
.navListItemLink.linkHightlight {
  border-bottom: 2px solid var(--interactive-color--active);
}
.linkHightlight {
  border-bottom: 2px solid var(--interactive-color--active);
}
@media screen and (min-width: 510px) {
  .navListItem {
    padding: 4px 12px;
  }
  .navListItemLink {
    padding: 8px 12px;
    font-size: 16px;
  }
}
