.header {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 16px 16px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--nav-link-color);
}
.logo {
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}
.navList {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}
.navListItem {
  padding: 8px;
  margin-left: 4px;
  margin-right: 4px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: .3s;
}
.navListItem:last-child {
  margin-right: -8px;
}
.navListItem:hover,
.navListItem:focus,
.navListItem:active {
  border-bottom: 2px solid var(--input-color-active);
}