.form {
  width: 100%;
  max-width: 326px;
  padding: 0;
  margin: 0;
}
.formfieldset {
  border: none;
  padding: 0;
}
.formlabel {
  font-size: 14px;
  width: 100%;
  display: block;
  margin-bottom: 4px;
}
.forminput {
  width: 100%;
  border: none;
  border-radius: 0;
  min-height: 40px;
  padding: 4px 8px;
}
.forminputTextarea {
  width: 100%;
  border: none;
  border-radius: 0;
  min-height: 100px;
  padding: 8px;
}
.forminput:focus,
.forminputTextarea:focus {
  border-radius: 0;
  outline-color: var(--interactive-color);
  border: none;
  box-shadow: none;
  margin: 0;
}
.formSubmit {
  color: var(--text-color);
  text-transform: uppercase;
  border: none;
  padding: 10px 16px;
  background: var(--interactive-color);
}
.formSubmit:hover,
.formSubmit:focus,
.formSubmit:active {
  background: var(--interactive-color--active);
}