.artPiecesWrapper {
  margin: 16px;
  width: 100%;
  margin: 0 auto;
}
.artPieces {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 372px));
  justify-content: center;
  grid-gap: 16px;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
