.artPiecesWrapper {
  margin: 16px;
  width: 100%;
  margin: 0 auto;
}
.artPieces {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 372px));
  justify-content: center;
  grid-gap: 16px;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.exhibitions {
  width: 100%;
  margin-top: 40px;
  display: inline;
  display: flex;
  flex-direction: column;
}
.hrLine {
  border-top: 2px dashed var(--disabled-border);
  margin: 30px 0;
}
.exhibitionsLink {
  align-self: center;
}
.exhibitionsImage {
  width: 100%;
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  .exhibitionsImage {
    width: 760px;
    object-fit: cover;
  }
}
