.mainContent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  align-items: start;
  border-top: 2px solid var(--interactive-color);
  padding: 32px 0;
}
.mainContentWrapper {
  margin-top: 14px;
}
.mainContentTextBlock {
  max-width: 600px;
  margin-top: 12px;
}
.mainContentTitle {
  margin-top: 0;
  font-size: 16px;
}
.mainContentText {
  margin-top: 0;
  line-height: 1.6;
  padding-bottom: 32px;
}
@media screen and (min-width: 1100px) {
  .mainContent {
    grid-template-columns: 2fr 1fr;
  }
}

.gallery {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 2px dashed var(--disabled-border);
}
.artPieces {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 372px));
  justify-content: center;
  grid-gap: 16px;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.backNavWrapper {
  margin-top: 36px;
  text-align: center;
  color: var(--pine);
}

