.mainContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  align-items: start;
}
.mainContentImage {
  object-fit: contain;
  transform: scale(0.99);
}
.imageBackground {
  background-image: url('static/profile/logo.svg');
  background-size: 20%;
  object-fit: contain;
  margin: 0 auto;
  padding: 0;
  fill: transparent;
  max-width: 396px;
  max-height: 396px;
}
.mainContentText {
  margin-top: 0;
  line-height: 1.6;
}
.mainContentTextExtraSpace {
  margin-top: 20px;
}
.mainContentQuote {
  color: black;
  background-color: var(--interactive-color);
  font-weight: bold;
  font-size: 20px;
  display: inline;
  padding: 9px;
  line-height: 2;
}

.horizontalLine {
  border-top: 0 solid var(--interactive-color);
}
.mainContentFacts {
  display: grid;
  grid-template-rows: 1fr;
  max-width: 600px;
  margin: 0 auto;
}
.factsDetails {
  margin: 2px 0 12px;
  font-size: 14px;
}
.factsImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.factsImageWrapper {
  margin-right: 20px;
}
.mainContentTextBlock {
  max-width: 600px;
  margin: 0 auto;
}

.gallery {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 2px dashed var(--disabled-border);
}
.artPieces {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 372px));
  justify-content: center;
  grid-gap: 16px;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (min-width: 1100px) {
  .mainContent {
    grid-template-columns: 1fr 2fr;
  }
  .mainContentTextBlock {
    margin: 0;
    margin-top: 36px;
  }
  .imageBackground {
    max-height: 381px;
  }
  .factsImages {
    margin-top: 30px;
    flex-wrap: nowrap;
  }
  .horizontalLine {
    border-top: 2px solid var(--interactive-color);
  }
}

.backNavWrapper {
  margin-top: 36px;
  text-align: center;
  color: var(--pine);
}
