.backNav {
  position: absolute;
  margin-top: 4px;
  border: none;
  cursor: pointer;
  color: grey;
  padding: 16px;
  background-color: transparent;
  background: transparent;
}

.artPiecesWrapper {
    margin: 16px;
    width: 100%;
    margin: 0 auto;
}
.artPieces {
  display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;

  margin: 16px;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin: 0 auto;
}

.artPiece {
  min-width: 400px;
  max-width: 400px;
  margin-bottom: 52px;
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.artPiece:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.artPieceContent {
  padding: 0 8px 32px 0;
}
.artPieceTitle {
  margin-bottom: 0;
  font-size: 30px;
}
.artPieceDetails {
  margin-top: 10px;
  font-size: 16px;
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}
.artPiecePrice {
  margin-top: -4px;
}
.artPieceOrderDetails {
  margin-top: 44px;
}

.artPieceTable {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin-top: 30px;
}
.artPieceTableHead {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 8px;
}
.artPieceTableData {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.artPieceTableData td {
  margin: 0;
}

@media screen and (min-width: 1100px) {
  .artPieces {
    flex-direction: row;
  }
  .artPieceContent {
    padding: 0 8px 32px 8px;
    margin-left: 32px;
  }
}