.backNav {
  position: absolute;
  margin-top: 4px;
  border: none;
  cursor: pointer;
  color: grey;
  padding: 16px;
  background-color: transparent;
  background: transparent;
}

.artPiecesWrapper {
    margin: 16px;
    width: 100%;
    margin: 0 auto;
}
.artPieces {
  display: flex;
  flex-direction: column;
  margin: 16px;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin: 0 auto;
}
.artPieceContent {
  padding: 0 8px 32px 0;
  margin-top: 24px;
}
.artPieceTitle {
  margin-bottom: 0;
  font-size: 22px;
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}
.artPieceDetails {
  margin: 10px 0;
  font-size: 16px;
}
.artPieceSubTitle {
  margin-top: 44px;
  margin-bottom: 8px;
}

.artPieceTable {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin-top: 30px;
}
.artPieceTableHead {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 8px;
}
.artPieceTableData {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.artPieceTableData td {
  margin: 0;
}

@media screen and (min-width: 1100px) {
  .artPieces {
    flex-direction: row;
  }
  .artPieceContent {
    padding: 0 8px 32px 8px;
    margin-left: 32px;
    margin-top: 0;
  }
}