.backNav {
  position: absolute;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  color: grey;
  padding: 16px;
}

.artPiecesWrapper {
    margin: 16px;
    width: 100%;
    margin: 0 auto;
}
.artPieces {
  display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;

  margin: 16px;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1260px) {
  .artPieces {
  }
}

.artPiece {
  min-width: 400px;
  max-width: 400px;
  margin-bottom: 52px;
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.artPiece:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.artPieceContent {
  padding: 0 8px 32px 8px;
  margin-left: 32px;
}
.artPieceTitle {
  margin-bottom: 0;
  font-size: 30px;
}
.artPieceDescription {
  margin-top: 2px;
  font-size: 16px;
}
.artPieceTable {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin-top: 30px;
}
.artPieceTableHead {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 8px;
}
.artPieceTableData {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.artPieceTableData td {
  margin: 0;
}