/* mobile first */
.mainContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 14px;
  margin-bottom: 40px;
  position: relative;
  margin: 0 auto;
  align-items: center;
}
.outdatedOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  overflow: visible;
  pointer-events: none;
  background-color: var(--page-bg-color);
  opacity: 40%;
}
.mainContentImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  transform: scale(0.99);
  margin: 0 auto;
}
.mainContentText {
  line-height: 1.6;
}
.mainContentTextExtraSpace {
  margin-top: 20px;
}
.mainContentQuote {
  color: black;
  background-color: var(--interactive-color);
  font-weight: bold;
  font-size: 20px;
  display: inline;
  padding: 9px;
  line-height: 2;
}

.horizontalLine {
  border-top: 0 solid var(--interactive-color);
}
.mainContentAtelje {
  display: grid;
  grid-template-rows: 1fr;
  align-items: start;
}
.ateljeImages {
  display: flex;
  flex-wrap: wrap;
}
.ateljeImageWrapper {
  margin-right: 20px;
}
.mainContentTextBlock {
  max-width: 600px;
  margin-top: 6px;
  margin-left: 10px;
  margin-bottom: 30px;
}
.mainContentTextBlock h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.gallery {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 2px dashed var(--disabled-border);
}
.artPieces {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 372px));
  justify-content: center;
  grid-gap: 16px;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.backNavWrapper {
  margin-top: 36px;
  text-align: center;
  color: var(--pine);
}

.artPieceSubTitle {
  margin-bottom: 8px;
}
.artPieceDetails {
  margin: 2px 0;
  font-size: 16px;
}
.hrLine {
  border-top: 2px dashed var(--disabled-border);
  margin: 30px 0;
}

/* @media screen and (min-width: 510px) {
  .mainContentImage {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .mainContentImage {
    width: 80%;
  }
} */
/* @media screen and (min-width: 1100px) { */
@media screen and (min-width: 980px) {
  .mainContent {
    grid-template-columns: 1fr 2fr;
    margin-bottom: 20px;
    grid-gap: 24px;
  }
  .mainContentTextBlock {
    margin-top: 36px;
  }

  .ateljeImages {
    margin-top: 30px;
    flex-wrap: nowrap;
  }
  .horizontalLine {
    border-top: 2px solid var(--interactive-color);
  }
  .mainContentImage {
    width: 100%;
  }
}
