:root {
    --page-bg-color: #f1f1f1;
    --text-color: rgb(52, 52, 52);
    --nav-link-color: grey;
    --link-color: steelblue;
    --link-color-hover: #003566;
    --input-color-active: #ffd60a;
    --input-color-hover: #fdc500;
}